<div class="jumbotron text-center">
  <h1>All components</h1>
</div>
<% @components.each do |component| %>
  <hr>
  <h2><a href="/components/<%= component.id %>"><%= component.name %></a></h2>
  <p><%= component.description %></p>
  <hr>
<% end if @components %>
<%= "<hr>" if @components.count == 0 %>
<p><a href="/components/new">Create a new component!</a></p>
<p><a href="/logout">Log out</a></p>