<div class="jumbotron text-center">
  <h1>All components</h1>
</div>
<% @components.each do |component| %>
  <h2><a href="/components/<%= component.id %>"><%= component.name %></h2>
  <p><%= component.description %></a></p>
<% end if @components %>
<p><a href="/components/new">Create a new component!</a></p>
<p><a href="/logout">Log out</a></p>