<h1>Welcome, <%= current_user.username %>.</h1>
<% @categories.each do |category| %>
  <h2><a href="/categories/<%= category.id %>"><%= category.name %></h2>
  <p><%= category.description %></a></p>
<% end if @categories %>
<p><a href="/categories/new">Create a new category!</a></p>
<p><a href="/logout">Log out</a></p>