<div class="jumbotron text-center">
  <h1>Create category</h1>
</div>
<form method="post" action="/categories">
  <div class="form-group">
    <label for="name">Category name</label>
    <input type="text" class="form-control" id="name" placeholder="Category name" name="name">
  </div>
  <div class="form-group">
    <label for="description">Category description</label>
    <input type="text" class="form-control" id="description" placeholder="Category description" name="description">
  </div>
  <button type="submit" value="submit" class="btn btn-primary">Submit</button>
</form>